@font-face{
    font-family: segoeui;
    src: url(fonts/segoeui.ttf);
}
@font-face{
    font-family: segoeuii;
    src: url(fonts/segoeuii.ttf);
}
@font-face{
    font-family: raleway-mediumitalic;
    src: url(fonts/Raleway-MediumItalic.ttf);
}
@font-face{
	font-family: opensans;
	src: url(fonts/OpenSans-Bold.ttf);
}

@font-face{
	font-family: opensans-regular;
	src: url(fonts/OpenSans-Regular.ttf);
}

@font-face{
	font-family: opensans-semibold;
	src: url(fonts/OpenSans-Semibold.ttf);
}
@font-face{
	font-family: lato-regular;
	src: url(fonts/Lato/Lato-Regular.ttf);
}
@font-face{
	font-family: lato-light;
	src: url(fonts/Lato/Lato-Light.ttf);
}
@font-face{
	font-family: lato-Black;
	src: url(fonts/Lato/Lato-Black.ttf);
}
@font-face{
    font-family: lobster;
    src: url(fonts/Lobster/lobster-Regular.ttf);
}