@{
    ViewBag.Title = "About";
}

<head>
    @Styles.Render("~/Content/about.css")

</head>
<body>

    <div class="container stat">
        <h1 align="center" class="Administration">Administration</h1>
        <hr style="border-top: 1px solid #7f8c8d" />
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img class="imageClass" src="~/Content/images/Serik.jpg" alt="#">
                    <div class="caption">
                        <h3>Serik Seidigalimov</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus officia distinctio necessitatibus neque laudantium! Fuga, tempora sit temporibus, hic asperiores neque, dolorum magnam ratione atque dignissimos accusamus, architecto perferendis aperiam.</p>
                        <p> <a href="#" class="btn btn-default" role="button">Read more...	</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img class="imageClass" src="~/Content/images/Azamat.jpg" alt="#">
                    <div class="caption">
                        <h3>Azamat Oraz</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus officia distinctio necessitatibus neque laudantium! Fuga, tempora sit temporibus, hic asperiores neque, dolorum magnam ratione atque dignissimos accusamus, architecto perferendis aperiam.</p>
                        <p> <a href="#" class="btn btn-default" role="button">Read more...	</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img class="imageClass" src="~/Content/images/Sharafat.jpg" alt="#">
                    <div class="caption">
                        <h3>Sharafat Tolysbayeva</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus officia distinctio necessitatibus neque laudantium! Fuga, tempora sit temporibus, hic asperiores neque, dolorum magnam ratione atque dignissimos accusamus, architecto perferendis aperiam.</p>
                        <p> <a href="#" class="btn btn-default" role="button">Read more...	</a></p>
                    </div>
                </div>
            </div>
        </div>
        <h1 align="center" class="Administration">Our Ambitious</h1>
        <div class="row padd">
            <div class="col-md-4">
                <h3 class="specialText">Quality</h3>
                <hr style="border-top: 1px solid #7f8c8d" />
                <p class="contentText">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magnam odit officia nesciunt inventore, autem ullam beatae magni rem quia nobis qui, esse fugiat doloribus amet, blanditiis cumque optio voluptatem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam ratione cum, impedit illum et temporibus suscipit harum tempore ipsam quis enim quibusdam mollitia voluptates repudiandae recusandae modi corporis maiores!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim similique voluptatibus obcaecati ea, minima! Ex officiis earum, numquam quam sunt dolorum unde architecto, recusandae incidunt ducimus eum assumenda magnam. Deserunt.
                    Officiis officia labore deserunt temporibus vel,
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="specialText">Quantity</h3>
                <hr style="border-top: 1px solid #7f8c8d" />
                <p class="contentText">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magnam odit officia nesciunt inventore, autem ullam beatae magni rem quia nobis qui, esse fugiat doloribus amet, blanditiis cumque optio voluptatem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam ratione cum, impedit illum et temporibus suscipit harum tempore ipsam quis enim quibusdam mollitia voluptates repudiandae recusandae modi corporis maiores!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim similique voluptatibus obcaecati ea, minima! Ex officiis earum, numquam quam sunt dolorum unde architecto, recusandae incidunt ducimus eum assumenda magnam. Deserunt.
                    Officiis officia labore deserunt temporibus vel,
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="specialText">Make people happy :)</h3>
                <hr style="border-top: 1px solid #7f8c8d" />
                <p class="contentText">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magnam odit officia nesciunt inventore, autem ullam beatae magni rem quia nobis qui, esse fugiat doloribus amet, blanditiis cumque optio voluptatem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam ratione cum, impedit illum et temporibus suscipit harum tempore ipsam quis enim quibusdam mollitia voluptates repudiandae recusandae modi corporis maiores!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim similique voluptatibus obcaecati ea, minima! Ex officiis earum, numquam quam sunt dolorum unde architecto, recusandae incidunt ducimus eum assumenda magnam. Deserunt.
                    Officiis officia labore deserunt temporibus vel,
                </p>
            </div>
        </div>
    </div>

</body>